<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="img/alexey-mak-sMZLg77Z2Dk-unsplash.jpg">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>

    

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Hi there! this is Mohabbat Hossain Ridoy</title>

  </head>
  <body>
    <!-- this is navbar section  -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-container nav-position navbar-dark">
      <div class="container-fluid navbar-container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav m-auto mb-2 mb-lg-0 ">
            <li class="nav-item">
              <a class="nav-link active " aria-current="page" href="#About">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#Education">Education</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#Project">Project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#Portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#Contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  
    <!-- this is banner section  -->
    <section class="banner-container container-fluid">
      <div class="row vh-100">
        <div class="col-md-9 banner-column m-auto text-white text-center p-4 border border-primary">
          <h1 class="font-weight-bolder">Welcome to my portfolio</h1>
          <h3>Md. Mohabbat Hossain Ridoy</h3>
        </div>
      </div>
    </section>

    <!-- about section  -->
    <div class="about-container text-white" id="About">
      <h1 class="py-5 text-center">About</h1>
      <div class="container py-5">
        <div class="row">
          <div class="col-md-8 py-5 justify-items-center text-white border border-primary">
            <h3>Md. Mohabbat Hossain Ridoy</h3>
            <p>Student|Learner|</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, maxime? Voluptas cum architecto doloribus ipsum quidem nulla numquam consequatur labore repellendus? Voluptate atque ratione necessitatibus sed maiores. Hic neque quia dolorum explicabo, sed minima magnam accusantium a ducimus reprehenderit deserunt tempora quod veniam mollitia. Suscipit vero rem ut harum asperiores?</p>

            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit mollitia magni deleniti at beatae aliquid cumque sapiente nisi, tenetur accusantium facilis nulla laboriosam error voluptas numquam? Suscipit perspiciatis minima quam.</p>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum modi alias dicta sunt aperiam culpa omnis nemo? Expedita nostrum vel, harum voluptatibus neque hic quos voluptate fugit, impedit nam et sit itaque possimus! Soluta similique amet quis voluptatum voluptatem sequi?</p>
          </div>
          <div class="col-md-4 m-auto">
            <img src="img/Untitled design (6)2.png" alt="Mohabbat" class="img-fluid img-padding rounded-circle  ">
          </div>
        </div>
      </div>
    </div>

    <!-- Education section  -->
    <div class="Education-container py-3 m-auto" id="Education"><hr class="text-white font-weight-bolder">
      <div class="container">
        <div class="row">
          <div class="col text-center edu-text-color ">
            <h1 class="font-weight-bolder py-5">Education</h1>
          </div>
        </div>

        <div class="row py-2  ">
          <div class="col-md-2 circle m-auto mb-2">
            <p class="py-5 dark-color">SSC 2018 <br>
            CBL Hight school</p>
          </div>
          <div class="col-md-10 m-auto light-bg">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta minus vel officiis nulla. Quis, cumque nesciunt reprehenderit repudiandae dolores vitae natus molestias sequi ullam et, corrupti doloribus maiores ut. Aperiam excepturi repellat ratione deserunt placeat non assumenda asperiores incidunt consequatur magnam temporibus, fugit natus minima dicta, nisi accusamus ipsam inventore! Fuga nihil alias repellat enim quos asperiores nobis laboriosam ipsum.
          </div>
        </div>

        <div class="row py-2">
          <div class="col-md-2 circle m-auto mb-2">
            <p class="py-5 dark-color">HSC 2020 <br>
            ARMC Mymenshingh</p>
          </div>
          <div class="col-md-10 m-auto light-bg">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta minus vel officiis nulla. Quis, cumque nesciunt reprehenderit repudiandae dolores vitae natus molestias sequi ullam et, corrupti doloribus maiores ut. Aperiam excepturi repellat ratione deserunt placeat non assumenda asperiores incidunt consequatur magnam temporibus, fugit natus minima dicta, nisi accusamus ipsam inventore! Fuga nihil alias repellat enim quos asperiores nobis laboriosam ipsum.
          </div>
        </div>
      </div>
    </div>

    <!-- Project section  -->
    <div class="project-container " id="Project">
      <div class="container">
        <div class="row">
          <div class="col py-5">
            <h1 class="text-center dark-color">Project</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 m-auto">
            <img src="img/img4.jpg" alt="my logo" class=" img-fluid">
            <a href="http://127.0.0.1:5500/">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus inventore necessitatibus maiores natus, quam eos sapiente!</a>
            <p>10.45</p>
          </div>

          <div class="col-md-3 m-auto">
            <img src="img/img1.JPG" alt="my logo" class=" img-fluid">
            <a href="http://127.0.0.1:5500/">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus inventore necessitatibus maiores natus, quam eos sapiente!</a>
            <p>10.45</p>
          </div>

          <div class="col-md-3 m-auto">
            <img src="img/img2.JPG" alt="my logo" class=" img-fluid">
            <a href="http://127.0.0.1:5500/">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus inventore necessitatibus maiores natus, quam eos sapiente!</a>
            <p>10.45</p>
          </div>

          <div class="col-md-3 m-auto">
            <img src="img/img3.jpg" alt="my logo" class=" img-fluid">
            <a href="http://127.0.0.1:5500/">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus inventore necessitatibus maiores natus, quam eos sapiente!</a>
            <p>10.45</p>
          </div>
        </div>
      </div>
    </div>

    <!-- this is portfolio section  -->

    <div class="Portfolio-bg">
      <div class="container" id="Portfolio">
        <div class="row py-5">
          <div class="col text-center">
            <h1 class="light-color">Portfolio</h1>
          </div>
        </div>

        <div class="row py-3">
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <img src="img/img1.JPG" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <img src="img/img2.JPG" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <img src="img/img3.JPG" alt="" class="img-fluid">
              </div>
            </div>
          </div>
        </div>

        <div class="row py-4">
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <img src="img/bg.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <img src="img/img4.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <img src="img/298960123_109371288551701_7851422434229402398_n-removebg-preview.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- this is contact section
     -->
    <div class="contact-form" id="Contact">
      <h1 class="text-center font-weight-bolder dark-color py-5">Contact</h1>
      <div class="container">
        <div class="row py-3">
          <div class="col text-center dark-color">
            <h4 class="font-weight-bold">This is a bummpy ride</h4>
            <p>but dreams have a tendancy to play hard to get right</p>
          </div>
        </div>

        <div class="row py-4">
          <div class="col-sm text-center dark-color border border-dark-color py-3 m-1">
            <span style="font-size: 72px;">29</span>
            <h5>attempt failed</h5>
          </div>

          <div class="col-sm text-center dark-color border border-dark-color py-3 m-1">
            <span style="font-size: 72px;">29</span>
            <h5>attempt failed</h5>
          </div>

          <div class="col-sm text-center dark-color border border-dark-color py-3  m-1">
            <span style="font-size: 72px;">29</span>
            <h5>attempt failed</h5>
          </div>

          <div class="col-sm text-center dark-color border border-dark-color py-3 m-1">
            <span style="font-size: 72px;">29</span>
            <h5>attempt failed</h5>
          </div>
        </div>

        <div class="row py-5">
          <div class="col text-center dark-color">
            <h4 class="font-weight-bold">Get in Touch</h4>
            <p> Be the real don't be fake. always try to follow the rules of Islam</p>
          </div>
        </div>

        <div class="row dark-color font-weight-bold m-auto py-2">
          <h5>Shoot a message!</h5>
        </div>

        <form action="backend-django">
          <div class="row pb-4">
            <div class="col">
              <input type="text" class="form-control light-bg" placeholder="your name">
            </div>
            <div class="col">
              <input type="text" class="form-control light-bg" placeholder="your email">
            </div>
          </div>

          <div class="row pb-4">
            <div class="col">
              <textarea class="form-control light-bg" name="" id="" cols="30" rows="10" placeholder="your message"></textarea>
            </div>
          </div>

          <div class="row pb-4">
            <div class="col">
              <button class="button light-bg btn">Send Message</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <hr> <br>
    <div>
      <h1>{{ text1 }}</h1>
      <table border="5">
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>Instrument</th>
        </tr>
        {% for row in musician %}
        <tr>
          <td> {{row.first_name}} </td>
          <td> {{row.last_name}} </td>
          <td> {{row.instrument}} </td>
        </tr>
        {% endfor %}
      </table>
    </div>

    <!-- this is footer section 
     -->
     <section>
      <div class="footer py-2">
        <div class="container">
          <div class="row">
            <div class="col text-center text-white py-5">
              <em>"Work hard in silence, let your success be your noise"</em>
              <p>Frank Ocean</p>
            </div>
          </div>

          <div class="row py-2">
            <div class="col text-center">
              <div class="footer-circle">
                <i class="fa-brands fa-facebook-f"></i>
              </div>
              <div class="footer-circle">
                <i class="fa-brands fa-github"></i>
              </div>
              <div class="footer-circle">
                <i class="fa-brands fa-linkedin-in"></i>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col text-center pt-5">
              <p>&copy;All Right reserved to Md Mohabbat Hossain Ridoy</p>
            </div>
          </div>
        </div>
      </div>
     </section>

     


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>